@import url("https://fonts.googleapis.com/css?family=Lora");
:root {
    --color-background: #4d9de0;
    --color-open: #e84855;
    --color-hover: #e1bc29;
    --color-success: #3bb273;
}

body {
    margin: 0;
    font-family: "Lora", sans-serif;
    background: #eee;
    color: #fff;
}

.title {
    text-align: center;
    color: rgb(153, 124, 9);
    margin: 0;
    padding-top: 12px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    max-width: 480px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px 3px #eef0f2;
}

.panel {
    height: 140px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    background: var(--color-background);
    border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px #fff, 2px 2px #ccc, 3px 3px #ccc, 4px 4px #ccc;
}

.panel:hover {
    background: var(--color-hover);
}

.controls {
    padding: 1rem;
    max-width: 450px;
    margin: 12px auto;
}

.btn {
    padding: 0.8rem 3rem;
    background: #fff;
    color: #e84855;
    font-size: 16px;
    letter-spacing: 1.3px;
    outline: none;
    border: 2px solid #e84855;
    border-radius: 35px;
    font-weight: 600;
    position: relative;
}

.btn:hover {
    color: #fff;
    background-color: rgb(153, 124, 9);
    border-radius: 35px;
    transition: border-radius 0.51s ease;
    border: 2px solid #fff;
}

.sound-controls {
    font-size: 18px;
    color: #e84855;
    font-weight: bold;
    float: right;
    margin: 10px 10px;
}

.toggle-sound-input {
    display: none;
}

.toggle-sound-button {
    position: relative;
    display: inline-block;
    background: #bfc0c0;
    width: 45px;
    height: 20px;
    border-radius: 20px;
    transition: all 0.4s ease;
    cursor: pointer;
    margin-left: 5px;
    top: 3px;
}

.toggle-sound-button:before {
    position: absolute;
    content: "";
    display: inline-block;
    height: 22px;
    width: 22px;
    border-radius: 15px;
    background: #808080;
    transition: all 0.4s ease;
    left: 0px;
    bottom: -1.2px;
    box-shadow: 0 0 8px 1px #8d8d8d;
}

.toggle-sound-input:checked+.toggle-sound-button:before {
    content: "";
    background: #e84855;
    left: 23px;
    box-shadow: 0 0 8px 1px #e84855;
}

#timer {
    font-size: 18px;
    font-weight: bold;
    color: #e84855;
    text-align: center;
    margin: 0;
    padding: 12px;
    margin-bottom: 12px;
}

#final-timer {
    color: rgb(226, 30, 46);
}

.time {
    color: rgb(95, 3, 11);
}

.score-board {
    height: 422px;
    width: 480px;
    background: rgba(225, 188, 41, 0.8);
    color: #e84855;
    text-shadow: 3px 3px 3px #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
    text-align: center;
    box-shadow: 0 0 20px 8px #3bb273;
    display: none;
}

.modal-close {
    float: right;
    padding: 6px 8px;
    color: rgb(233, 10, 28);
    font-weight: bold;
    border: 2px solid #fff;
    margin: 5px;
    cursor: pointer;
}

#play-again {
    margin-top: 155px;
    background: #fff;
    color: #e84855;
}

.footer {
    text-align: center;
}

.attribution-link {
    text-decoration: none;
    text-align: center;
    color: #e1bc29;
}

.attribution-link>span,
.github-link>span {
    font-weight: bold;
    text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 480px) {
    .title {
        font-size: 22px;
    }
    .wrapper {
        margin: 10px;
        height: 350px;
    }
    .panel {
        width: 84px;
        height: 116px;
    }
    .btn {
        padding: 0.6rem 1.5rem;
    }
    .score-board {
        height: 280px;
        width: 304px;
        transform: translate(-50%, -57%);
    }
    #play-again {
        margin-top: 75px;
    }
}